/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

/* GLOBAL */

* {
box-sizing: border-box;
}

/* forms */

.checkbox {            /*  This and sessions #remember_me is for remembering login  */
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}




 /*HEADER*/
 header {
 background-color: #ADD8E6;
 color: #pink;
 padding-top: 30px;
 min-height: 70px;
 border-bottom: white 3px solid;
 width: 100%
 }

 header a {
 color: #808080;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 16px;
 }

 header ul {
 /*ul have margin and padding by default*/
 margin-left: 50;
 padding: 0;
 }

 header li {
 float: left;
 display: inline;
 padding: 0 20px 0 20px;
 }

 header #branding {
 float: left;
 }

 header #branding h1 {
 margin: 0;
 }

 header nav {
 float: right;
 padding-right: 1%;
 }


 footer {
 padding: 10px;
 background-color: #ADD8E6;
 text-align: center;
 color: grey;
 width: 100%;
 }

 #branding h1 {
 padding-left: 40%;
 }

 h2 {
 font-size: 22px;
 color:
 #f9f9f9;
 font-family: 'Homemade Apple', cursive;
 }

 #about_text p {
 padding-top: 6vh;
 width: 30%;
 float: right;
 padding-right: 15px;
}

 #rose {
 background-image:url('/assets/rose.jpg');
 height: 100vh;
 background-size: cover;
 background-position: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 0 20px;
 text-align: center;
 }

 img {
 width:30%;
 height:30vh;
 padding-left: 1%;
 }
