
<!DOCTYPE html>
<html>
<body>

  <h4>PROFILES</h4>
  <div class="title_h1">
  <%= render 'filter_searches' %>
</div>
  <div class="container">
  <% @user.each do |user| %>

  <a href="/users/<%=user.id%>">
    <video width="320" height="240" controls>
      <source src="<%=  user.video.url%>">
    </video>
  </a>

  <% end %>
</div>
</body>
</html>
