<% provide(:title, "About") %>
<div class="title_h1">
<h1>How we are different</h1>
</div>
  <section id="about_text">
    <p>
      As if dating is not time consuming enough?
      Noble man eliminates this.<br>
<br>
      At Noble, you are not measured solely by looks. We take into consideration the human spirit.<br>
      <br>
      Our theory is although somebody may be initially attractive, after something as simple as a "Hello", that attraction can disappear in an instance.
      Noble man eliminates this.<br>
<br>
      Not only will you be able to see an image - you will be able to hear the person speak customizing what they say - their likes, dislikes,interests. Not selecting a form and standardized hobbies.
      You are unique and we want to showcase that.<br>
<br>
      Welcome to Noble. <br>
    </p>
  </section>
<div id="video_img"></div>
