<% provide(:title, "About") %>


<p>Find me in app/views/static_pages/about.html.erb</p>


  <section id="about_text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
      sed felis lectus. Vestibulum elementum mi id tellus commodo commodo. Nullam
      non purus dignissim erat dictum cursus at in enim. Aliquam efficitur dui sed
      leo hendrerit dignissim. Phasellus vel pretium dui, sodales eleifend ipsum.
      Aliquam egestas imperdiet arcu nec sollicitudin. Proin euismod ullamcorper
      arcu ac maximus. Aliquam vestibulum quis urna at sollicitudin. Cras rhoncus
      vehicula dui, vitae accumsan turpis interdum sit amet. Vestibulum neque

    </p>
  </section>
<div id="video"></div>
