<% provide(:title, "Home") %>

<div id='kiss'><h2>“Where there is love there is life.”
Mahatma Gandhi</h2>



<!-- <section id="section-a">
<a href='#' class="button">Login</a>
</section>

<section id="section-b">
<a href='#' class="button">Signup</a>
</section> -->

<section id="section_video">
<video "https://vimeo.com/83885850"></video>
</section>
