<% provide(:title, "Home") %>

<div id='kiss'>

  <div class="center jumbotron">

    <h1>Welcome to Noble Dating</h1>

    <!-- <h2>This is the home page welcome message inviting new users to sign up. This may be
    necessary to keep if the "sign up" option is dropped from the top navbar.</h2> -->
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <h2>“Where there is love there is life.”</h2>
</div>
<!-- <section id="section-a">
<a href='#' class="button">Login</a>
</section>

<section id="section-b">
<a href='#' class="button">Signup</a>
</section> -->

  <!-- <section id="section_video">
    <video "https://vimeo.com/83885850"></video>
  </section> -->
